{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Proskurenko D.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <!-- <link href="style.css" rel="stylesheet"> -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </style>
</head>
<body>
    <div class="container-fluid">
	    <div class="row">
            <div class="col-xs-12" id = "name">
                <h1 class="text-center"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;Проскуренко Дмитрий Владимирович</h1>
            </div>
        </div>
    </div>
	<nav class="navbar navbar-default navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">PROSKURENKO >>></a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="education/">Образование</a></li>
                    <li><a href="../experience/">Опыт работы</a></li>
                    <li><a href="../publication/">Публикации</a></li>
                    <li><a href="../characteristic/">Характеристика</a></li>
                    <li><a href="../projects/">Проекты</a></li>
                    
                    <li><a href="../vlog/">Видеоблог</a></li>
                    
                    
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
         <div class="row">
             <div class="col-xs-2">
                <div id = "sidebar">
                    Начальное образование
                </div>
            </div>
            <div class="col-xs-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Амвросиевская общеобразовательная школа №6, Донецкая область, Украина</h3>
                    </div>
                    <div class="panel-body">
                        Окончил 9 классов
                    
                        <div class="btn-group" role="group" aria-label="..." style="float: right;">
                            <a href="school_diploma/" target="newframe"><button type="button" class="btn btn-default" style="width: 120px;">Аттестат</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2"></div>
            
        </div>
    </div>
   <br>
       <div class="container-fluid">
         <div class="row">
             <div class="col-xs-2">
                <div id = "sidebar">
                    <p>Среднее специальное техническое</p>
                </div>

            </div>
            <div class="col-xs-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Амвросиевский индустриальный техникум, Украина</h3>
                    </div>

                    <div class="panel-body">
                        <div style="display: table;">
                            <div style="display: table-row;">
                                <div style="display: table-cell; vertical-align: middle;">
                                    <div>Специальность:"Монтаж, обслуживание средств и систем автоматизации технологического производства." <br>Квалификация: "техник-электромеханик"
                                    </div>
                                </div>
                                <div style="display: table-cell; vertical-align: middle;">
                                    <div class="btn-group" role="group" aria-label="..." style="float: right">
                                    <a href="AIT_diploma/" target="newframe"><button type="button" class="btn btn-default" style="width: 120px;"> Диплом</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2"></div>
            
        </div>
    </div>
    <br>
        <div class="container-fluid">
         <div class="row">
             <div class="col-xs-2">
                <div id = "sidebar">
                    <p>Высшее образование</p>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Донецкий национальный технический университет, Украина</h3>
                    </div>
                    <div class="panel-body">
                        <div style="display: table; width: 100%">
                            <div style="display: table-row;">
                                <div style="display: table-cell; vertical-align: middle;">
                                    <div>
                                        Факультет: "Физико-металлургический" <br>
                                        Специальность:"Металлургия чёрных металлов" <br>Квалификация: "Магистр металлургии"
                                    </div>
                                </div>
                                <div style="display: table-cell; vertical-align: middle;">
                                    <div class="btn-group" role="group" aria-label="..." style="float: right">
                                    <a href="DonNTU_diploma/" target="newframe"><button type="button" class="btn btn-default" style="width: 120px;"> Диплом</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2"></div>
            
        </div>
    </div>
    <br>
        <div class="container-fluid">
         <div class="row">
             <div class="col-xs-2">
                <div id = "sidebar">
                    <p>Аспирантура</p>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Донецкий национальный технический университет, Украина </h3>
                    </div>
                    <div class="panel-body">
                        <div style="display: table; width: 100%">
                            <div style="display: table-row;">
                                <div style="display: table-cell; vertical-align: middle;">
                                    <div>
                                        Факультет: Аспирантура <br>
                                        Специальность:"Металлургия чёрных и цветных металлов, и специальных сплавов" <br>
                                        Кафедра: "Металлургия стали" <br>
                                        Квалификация: "преподаватель-исследователь"
                                    </div>
                                </div>
                                <div style="display: table-cell; vertical-align: middle;">
                                    <div class="btn-group" role="group" aria-label="..." style="float: right">
                                    <a href="license/" target="newframe"><button type="button" class="btn btn-default" style="width: 120px;"> Свидетельство </button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2"></div>
            
        </div>
    </div>
    <br>
        <div class="container-fluid">
         <div class="row">
             <div class="col-xs-2">
                <div id = "sidebar">
                    <p>Переквалификация</p>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">НОЧУ ДПО "Краснодарский многопрофильный институт дополнительного образования", Россия</h3>
                    </div>
                    <div class="panel-body">
                        
                        <div style="display: table; width: 100%;">
                            <div style="display: table-row;">
                                <div style="display: table-cell; vertical-align: middle;">
                                    <div>
                                        Программа: "Учитель математики. Педагогическая деятельность по проектированию и реализации образовательного процесса в условиях ФГОС" <br>
                                        Квалификация: "Учитель математики"
                                    </div>
                                </div>
                                <div style="display: table-cell; vertical-align: middle;">
                                    <div class="btn-group" role="group" aria-label="..." style="float: right">
                                    <a href="teacher_license/" target="newframe"><button type="button" class="btn btn-default" style="width: 120px;"> Диплом </button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2"></div>
            
        </div>
    </div>

   <hr>
   {% include 'page/message.html' %}
</body>
</html>