{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Proskurenko D.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
         
    <script data-require="jquery@1.10.0" data-semver="1.10.0" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

  
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  
</head>
<body>
	 <div class="container-fluid">
	    <div class="row">
            <div class="col-xs-12" id = "name">
                <h1 class="text-center"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;Проскуренко Дмитрий Владимирович</h1>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">PROSKURENKO >>></a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="../education/">Образование</a></li>
                    <li><a href="../experience/">Опыт работы</a></li>
                    <li class="active"><a href="publication/">Публикации <span class="label label-danger">19</span></a></li>
                    <li><a href="../characteristic/">Характеристика</a></li>
                    <li><a href="../projects/">Проекты</a></li>
                    
                    <li><a href="../vlog/">Видеоблог</a></li>
                    
                  
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
         <div class="row">
             <div class="col-xs-2"></div>
             <div class="col-xs-8">
                <div class="panel panel-success">
                     <!-- Default panel contents -->
                     <div class="panel-heading"><h4>Публикации в периодических изданиях</h4></div>
                     <div class="panel-body">
                         <p>Ниже представлен список статей с личным вкладом в соавторстве, которые были опубликованы в различных научных периодических изданиях.</p>
                     </div>

                     <!-- List group -->
                     <ul class="list-group">
                         
                         <li class="list-group-item">О.М.Смірнов, В.М.Сафонов, Д.В.Проскуренко, К.Є.Пісмарьов Особливості перемішування сталі і шлаку в ковші під час продувки аргоном/ Металознавство та обробка металів 3’2009, с. 25 – 31.</li>
                         <li class="list-group-item">А.Н. Смирнов, В.М.Сафонов, Д.В. Проскуренко, К.Е. Писмарев. Исследование характера распределения частиц металла в шлаке при продувке расплава аргоном в ковше // Электрометаллургия, - №7, - 2009, - С.17 - 22.</li>
                         <li class="list-group-item"> <a href="http://ea.donntu.edu.ua/bitstream/123456789/9386/1/143-149.pdf" target="_blank"> Смірнов О.М., Сафонов В.М., Проскуренко Д.В. Розподіл крапель рідини над вільною поверхнею ванни в результаті руйнування на ній міхурів газової фази // Наукові праці ДонНТУ. Металургія., - №12, - 2010, - С. 143 - 149.</a></li>
                         <li class="list-group-item"> <a href="http://uas.su/conferences/2011/vnepecnaya/23/razdel23.php" target="_blank"> Сафонов В.М., Смирнов А.Н., Проскуренко Д.В. Масса и площадь поверхности диспергируемых капель металла в сталеразливочном ковше // Инновационные технологии внепечной металлургии чугуна и стали. Сб.научн.тр. под ред. проф., д.т.н. Дюдкина Д.А.; проф., д.т.н. Смирнова А.Н. Донецк: ДонНТУ, 2011, 300с.</a></li>
                         <li class="list-group-item"> <a href="https://link.springer.com/article/10.1134/S0036029510060029" target="_blank"> A.N. Smirnov, V.M.Safonov, D.V.Proskurenko, K.E. Pismarev Distribution of Metal Particles in a Slag during Argon Blowing of a Melt in a Ladle // Russian Metallurgy (Metally), Vol. 2010, No.6, pp. 469-474.</a></li>
                         <li class="list-group-item"><a href="https://link.springer.com/article/10.1134/S0036029510120013" target="_blank"> V. M. Safonov, A. N. Smirnov, K. E. Pismarev, and D. V. Proskurenko. To the Problem of Steel Desulfurization in a Ladle–Furnace Unit and a Chamber Degasser</a></li>
                         <li class="list-group-item"><a href="http://ea.donntu.edu.ua/bitstream/123456789/14633/1/11svmvoa.pdf" target="_blank"> В.М. Сафонов, Д.В. Проскуренко, К.Е. Писмарев  Влияние интенсивности продувки расплава в сталеразливочном ковше на скорость вторичного окисления алюминия Наукові праці ДонНТУ. Металургія  Випуск 13 (194), - 2011. - с.76 – 79.</a></li>
                         <li class="list-group-item"><a href="http://sbornik.dondtu.edu.ua/articles/RU/211.pdf" target="_blank"> Сафонов В.М. Особенности механизма вторичного окисления алюминия в агрегате ковш-печь / В.М. Сафонов, А.Н. Смирнов, Д.В. Проскуренко // Сборник научных трудов Донбасского государственного технического университета. Вып. 36 – Алчевск: ДонГТУ, 2012 –  473  с.</a></li>
                         <li class="list-group-item"> Смирнов А.Н., Сафонов В.М.,  Проскуренко Д.В. Физическое моделирование процесса капельного массопереноса газовыми пузырями через свободную поверхность жидкости // VIII міжнародна науково-технічна конференція  «Тепло- і масообміні процеси у металургійних системах», Донецк. – 2012.</li>
                         <li class="list-group-item"> <a href="http://ea.donntu.edu.ua/bitstream/123456789/8423/1/zborshik.pdf" target="_blank">А. М. Зборщик, В. В. Климанчук, Н. Ф. Анищенко, Н. В. Косолап, И. А. Лукьяненко, Д.В. Проскуренко Магний содержащая порошковая проволока для глубокой десульфурации чугуна // Наукові праці ДонНТУ. Металургія. - Випуск 11 (159). -  с.37 – 46.</a></li>
                     </ul>
                </div>
                <div class="panel panel-success">
                     <!-- Default panel contents -->
                     <div class="panel-heading"><h4>Доклады конференций</h4></div>
                     <div class="panel-body">
                         <p>Ниже представлен список докладов опубликованных в сборниках научных конференций.</p>
                     </div>

                     <!-- List group -->
                     <ul class="list-group">
                         <li class="list-group-item"><a href="https://www.swerea.se/en/file/2274/download?token=oZidwV5m" target="_blank">Safonov, V.M., Smirnov, A.N., Proskurenko, D.V., and Pismarev, K.E., The investigation of the oxidizing process of steel in a ladle, 4th Int. Conf. on Process Development in Iron and Steelmaking (SCANMET IV), June 10–13, 2012, Lulea, 2012.</a></li>
                         <li class="list-group-item"> А.Н., Сафонов В.М.,  Проскуренко Д.В. Физическое моделирование процесса капельного массопереноса газовыми пузырями через свободную поверхность жидкости // VIII міжнародна науково-технічна конференція  «Тепло- і масообміні процеси у металургійних системах», Донецк. – 2012.</li>
                         <li class="list-group-item"> Проскуренко Д.В. Состояние поверхности контакта капель эмульсии в системе двух жидких фаз // VI наукова-практична конференція «ДОНБАС-2020: Перспективи розвитку очима молодих вчених», Донецьк. - Апрель, 2012. - С. 199 - 204.</li>
                     </ul>
                 </div>

             

                <div class="panel panel-success">
                     <!-- Default panel contents -->
                     <div class="panel-heading"><h4>Монография и учебное пособие</h4></div>
                     <div class="panel-body">
                         <p>Результаты проведенного диссертационного исследования были опубликованы в виде монографии на английском языке, а результаты обзора из опытов зарубежных исследований были представлены в качестве учебного пособия.</p>
                     </div>

                     <!-- List group -->
                     <ul class="list-group">
                         <li class="list-group-item"><a href="https://www.lap-publishing.com/catalog/details//store/gb/book/978-3-659-64538-9/development-of-aluminum-re-oxidation-kinetic-theory-at-ladle-furnace" target="_blank">Proskurenko D. Development of aluminum re-oxidation kinetic theory at ladle-furnace. - LAP LAMBERT Academic Publishing (2015-05-21 ) Heinrich-Böcking-Str. 6-8, 66121, Saarbrücken, Germany. – P.176. - ISBN-10: 3659645389, EAN: 9783659645389.</a></li>
                         <li class="list-group-item">Каверина О.Г., Проскуренко Д.В. Актуальные исследования процессов ковшевого рафинирования: Учебное пособие для студентов IV, V курсов и аспирантов (на англ. языке). –Донецк, ДонНТУ, 2009. 169 с. –(10 друк. арк. –внесок автора 5 друк. арк.)</li>
                         
                     </ul>
                </div>

                <div class="panel panel-success">
                     <!-- Default panel contents -->
                     <div class="panel-heading"><h4>Патенты на полезные модели</h4></div>
                     <div class="panel-body">
                         <p> Работа в качестве младшего научного сотрудника в различных исследованиях кафедры включала в том счисле и составление патентных заявок различных изобретений, с которым можно ознакомиться перейдя по ссылкам ниже.</p>
                     </div>

                     <!-- List group -->
                     <ul class="list-group">
                         <li class="list-group-item"><a href="http://base.uipv.org/searchINV/search.php?action=viewdetails&IdClaim=131387" target="_blank"> Пристрій для відбору проби розплаву з металургійної ємності. Пат. 40737 UA, МПК С 21 С 5/00. / Сафонов В.М., Смірнов О.М., Проскуренко Д.В., Пісмарьов К.Є., Колєсніков Д.В.; заявник та патентовласник Донецк. нац. техн. ун-т. - №2008 12993; заявл. 10.11.08; опубл. 27.04.09, Бюл. №8.</a></li>
                         <li class="list-group-item"><a href="http://base.uipv.org/searchINV/search.php?action=viewdetails&IdClaim=153529" target="_blank"> Металоприймач проміжного ковша для безперервного лиття металу. Пат. 51522 UA, МПК B22D 41/00 / Подкоритов О. Л.; Смірнов О. М.; Солових С. Г.; Клімов В. Г.; Коваленко С. Г.; Кравченко А.В.; Проскуренко Д. В.; Маліч С. В.; заявник та патентовласник ТОВ "КАЛЬДЕРІС УКРАЇНА". - № 200912921; заявл. 14.12.2009; опубл. 26.07.2010, Бюл. №14.
                         </a></li>
                         <li class="list-group-item"><a href="http://base.uipv.org/searchINV/search.php?action=viewdetails&IdClaim=153529" target="_blank"> Пристрій для рафінування металевого розплаву у проміжному ковші. Пат. 55806 UA, МПК  B22D 11/10 (2006.01), B22D 27/00 / Смірнов О. М.; Лівшиц Д.А.; Подкоритов О. Л.; Клімов В. Г.; Турунов Д. М.; Солових С. Г.; Проскуренко Д.В.; Маліч С.В.; Кравченко А.В.; заявник та патентовласник ТОВ "КАЛЬДЕРІС УКРАЇНА". - № 201007376; заявл. 14.06.2010; опубл. 27.12.2010, Бюл. №24.
                         </a></li>
                         <li class="list-group-item"><a href="http://base.uipv.org/searchINV/search.php?action=viewdetails&IdClaim=170320" target="_blank"> Спосіб рафінування металу в проміжному ковші. Пат. 67695 UA, МПК B22D 11/116 / Клімов В.Г.; Смірнов О.М.; Лівшіц Д.А.; Подкоритов О.Л.; Солових С.Г.; Іваненко О.О.; Вожол М.А.; Маліч С.В.; Проскуренко Д.В.; Кравченко А.В.; заявник та патентовласник ТОВ "КАЛЬДЕРІС УКРАЇНА". - № 201011321; заявл. 23.09.2010; опубл. 12.03.2012, Бюл. №5.
                        </a></li>
                         
                     </ul>
                </div>
             <div class="col-xs-2"></div>
         </div>
     </div>
     <hr>
     {% include 'page/message.html' %}
</body>
</html>