{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<img src="{% static 'images/DonNTU1.jpg' %}" width="100%">
<img src="{% static 'images/DonNTU2.jpg' %}" width="100%">
<img src="{% static 'images/DonNTU2_1.jpg' %}" width="100%">
<img src="{% static 'images/DonNTU2_2.jpg' %}" width="100%">
<img src="{% static 'images/DonNTU3.jpg' %}" width="100%">
<img src="{% static 'images/DonNTU4.jpg' %}" width="100%">
<img src="{% static 'images/DonNTU4_1.jpg' %}" width="100%">
<img src="{% static 'images/DonNTU4_2.jpg' %}" width="100%">
</body>
</html>